@charset "utf-8";
/* CSS Document */

.account_title{ height:32px; background:url(../images/acc_bg.jpg) repeat-x; border-bottom:solid 2px #1EA916;}
.account_title_css{ font-size:14px; color:#666666; }
.account_title h1{ padding-left:15px;line-height:32px;}
.account_main{overflow:hidden;border-bottom:solid 1px #E8E8E8; border-right:solid 1px #E8E8E8; border-left:solid 1px #E8E8E8;}
.account_font{ width:642px; margin:0 auto; padding:10px 20px 10px 20px;}
.account_font_left{ float:left; width:480px;}
.account_font_right{ float:right;}
.account_font span{ line-height:30px; display:block;font-size:14px;}
.account_font_right a{color:#FF6600; font-size:}
.account_font_right a:hover{color:#09F; }
.account_password{ width:640px; margin:0 auto; height:120px; border-bottom:dashed 1px #E8E8E8; margin-bottom:10px;}
.password_left{ overflow:hidden;width:500px; float:left; padding:30px 0 0 0px;}
.password_left_img{ width:48px; height:48px; float:left; background:url(../images/icon01.jpg);}
.password_left_img2{ width:48px; height:48px; float:left; background:url(../images/icon02.jpg);}
.password_left_img3{ width:48px; height:48px; float:left; background:url(../images/icon03.jpg);}
.password_left_img4{ width:48px; height:48px; float:left; background:url(../images/icon04.jpg);}
.password_left_font{ float:left; padding-left:10px;}
.password_left_font dt{ color:#15A50D; font-size:14px;}
.password_left_font dd{ font-size:14px; color:#666;}
.password_right{ float:right; margin-top:30px;}
.password_right span{ font-size:14px; color:#FF6600;display:block;}
.password_right span a{ color:#FF6600;}














