#con_title{ background:url(/Public/images/title_bg.gif) no-repeat 0 0; height:31px; width:100%; border-top:3px solid #E2E4E5; text-indent:20px; line-height:35px;font-size: 14px;font-weight: 600;}

#con_contents{ min-height:550px; border:#E2E4E5 1px solid; border-top:none;}
