@charset "utf-8";
/* CSS Document */
img{ border:0;}
.content{border:solid 1px #EBEBEB; margin-top:10px;}
.content_top{height:40px; background:url("../images/title_bg.jpg") repeat-x;}
.content_top_font{ font-family:"微软雅黑"; font-size:18px; font-weight:normal; color:#525252; padding-left:20px; line-height:40px;}
.user{ height:250px;}
.send_main{ margin-top:40px;}
.send{height:30px; padding-left:290px;}
.send_font{ font-family:"宋体"; font-size:14px; color:#000; font-weight:bold; line-height:30px;}
.user_center{ height:50px; width:310px; margin-left:290px;}
.btn_check{ width:145px; height:38px; background:url(../images/btn_user_center.jpg) no-repeat;margin-top:5px; float:left;}
.click{ height:50px; line-height:50px;float:left; }
.send_font5{ color:#666666; font-size:14px;}
.send_font6{ color:#FF6600; font-size:14px;}
