#con_search{ border:#CCCCCC 1px solid; font-weight:bold; background:#F1F1F1; padding:17px 0;}
#con_search dl{ margin:0; padding:0; line-height:35px; clear:both; height:35px;}
#con_search dt{ float:left; padding:0; clear:left; text-align:right; width:95px; font-size:14px; height:25px; line-height:25px; letter-spacing:2px;}
#con_search dd{ float:left;padding:0;  margin:0 15px;font-size:14px; height:25px;line-height:25px;}
#con_search dl a.selected{ background:#999}

#head_title { width:100%; height:31px; background:#F3F3F3; margin:-2px 0 0 0 ;}
#head_title #list_img_td{width:80px; padding:0 8px;}
#head_title #list_img{width:80px; border:1px #CCCCCC solid; height:16px; line-height:16px; padding:0 3px;}
#head_title #list_img .line{ height:16px; width:1px; background:#CCC; float:left; display:inline-block; margin:0 5px;}
#head_title #list_img a{ margin-left:2px; padding-left:5px; float:left;}


#con_lists #mblist{border: 1px solid #F3F3F3;padding: 10px 0; clear:both;}

#con_lists #mblist dl {display: inline;float: left;height: 206px;margin: 10px 14px;overflow: hidden;position: relative;width: 156px;}



.mblista {height: 26px;left: 0;line-height: 32px;overflow: hidden;position: absolute;text-align: center;top: 140px;width: 154px;}
.mblistb {color: #888888;height: 20px;left: 0;line-height: 20px;overflow: hidden;position: absolute;text-align: center;top: 166px;width: 154px;}
.mblistc {height: 20px;left: 0;line-height: 20px;overflow: hidden;position: absolute;text-align: center;top: 186px;width: 154px;}
.mblistd {height: 142px;left: 0;position: absolute;top: 0;width: 156px;}
.mblistd img {border: medium none;height: 138px;width: 154px;}
