@charset "utf-8";
/* CSS Document */
.content.alpha{background:#ffffff; padding-bottom:30px;}






/*找回密码CSS begin*/
.content_reset_pw{ margin-top:60px;}
.content_reset_pw .reset_pw_left{ text-align: right; height: 29px; margin-bottom: 10px; line-height: 29px; color:#666666; font-size:14px;}
.content_reset_pw .email_btn,.content_reset_pw .phone_btn{ height: 29px; width: 80px ; background: url("../images/reset_pw_menu02.png");}
.content_reset_pw .email_btn a,.content_reset_pw .phone_btn a{ display: block; height: 23px; width: 64px ; padding-left: 16px;padding-top: 6px; font-size:12px; color:#AAAAAA;}
.content_reset_pw .on{background:none;}
.content_reset_pw .on a{height: 23px; width: 69px ;padding-left: 16px; padding-top: 6px;  background: url("../images/reset_pw_menu01.png"); font-size:12px; color:white;margin-left:-10px;}
.content_reset_pw .reset_pw_submit{width:112px;height: 30px; background: url("../images/reset_pw_btn.png"); border: none;cursor: pointer; color:#FFF; letter-spacing: 0px; margin-left:0;}
.form_rows .timer { background: #C5C5C5;border: 1px solid #8E8E8E;border-radius: 3px;padding: 0 10px;margin-left: 10px;height: 28px;line-height: 28px;display: inline-block;color: #fff;}
.form_rows .text-input { outline: none; margin: 0;}
.form_rows { margin-bottom: 10px; line-height: 28px;}
/*找回密码CSS end*/

img{ border:0;}
.logo{ height:90px;}
.content{border:solid 1px #EBEBEB; margin-top:10px;}
.content_top{height:40px; background:url("../images/title_bg.jpg") repeat-x; margin:0;}
.content_top_font{ font-family:"微软雅黑"; font-size:18px; font-weight:normal; color:#525252; padding-left:20px; line-height:40px; margin:0;}
.content_main_left{height:370px; border-right:solid 1px #EBEBEB; float:left; clear:both; margin-top:20px; padding-left:150px; padding-top:50px;}
.content_main_left_number{ height:34px; margin-top:15px;}
.content_main_left_number_title{height:34px; font-size:14px; line-height:34px;color:#525252; float:left; margin:0; width:65px;}

.content_main_left_number_number2_box{width:100%; height:32px; float:right;border:solid 1px #AABBCC; margin:0;}
.content_main_left_reading{ width:226px; height:30px;}
.btn_log{ margin-left:75px;}
.reg{ font-size:14px; color:#FFF; font-weight:bold; line-height:38px;}
.content_main_right{ height:324px; float:left; margin-top:34px; padding-left:100px;padding-top:50px;}
.font_login_title{height:25px; line-height:30px; }








/* 会员登录 */
.login_forget{margin-top:10px;float:left;margin-left:75px;}
.btn_login{height:32px; margin-top:10px;}
.btn_login1{height:32px; margin-top:10px; clear:both; margin-left:14px;}
.btn_login1 input{ width:240px; text-align:center;}
.forget{ height:30px; float:right;}
.forget_font{line-height:30px; font-size:14px; float:left;}
.forget_font a{ color:#FF6600; text-decoration: none;}
.forget_font a:hover{ text-decoration:underline;}
.remember_id{ height:30px; line-height:30px; margin-left:15px; font-size:14px}
.green{ background-color: #92F74F;} 
.checkbox_login{ margin-right:5px; vertical-align:-1px; }
/* 会员登录css end */








/* 密码设置成功 */
.send_main{ margin-top:40px;}
.send{height:30px; padding-left:290px;}
.send_font{ font-family:"宋体"; font-size:14px; color:#000; font-weight:bold; line-height:30px;}
.user_center{ height:50px; width:310px; margin-left:290px;}
.btn_check2{ width:145px; height:38px; background:url(../images/btn_user_center.jpg) no-repeat;margin-top:5px; float:left;}
.click{ height:50px; line-height:50px;float:left; }
.send_font5{ color:#666666; font-size:14px;}
.send_font6{ color:#FF6600; font-size:14px;}
/* 密码设置成功css end */


/* 会员注册css  */
.msg_wrap{ margin-top:5px; margin-left:0;}
.prefix_2.msg_wrap.alpha{ margin-left:95px;}
.prefix_2.suffix_5 input{ width:240px; text-align:center;}
/* 会员注册css end */
