@charset "utf-8";
/* CSS Document */
.content.alpha{background:#ffffff; padding-bottom:30px;}
.send2{height:30px; padding-left:230px;}



/* 会员激活成功 */
.content{border:solid 1px #EBEBEB; margin-top:10px;}
.content_top{height:40px; background:url("../images/title_bg.jpg") repeat-x;}
.content_top_font{ font-family:"微软雅黑"; font-size:18px; font-weight:normal; color:#525252; padding-left:20px; line-height:40px;}
.user{ height:250px;}
.send_mian{ margin-top:40px;}
.send{height:30px; padding-left:290px;}
.send_font7{ font-family:"宋体"; font-size:14px; color:#000; font-weight:bold; line-height:30px;}
.send_font2{color:#71B250;}
.send_font8{color:#FF6600; font-size:14px; line-height:30px; font-weight:bold;}
.user_center1{ height:50px; width:310px; margin-left:235px;}
.btn_check2{ width:145px; height:38px; background:url(../images/btn_user_center.jpg) no-repeat;margin-top:5px; float:left;}
.click{ height:50px; line-height:50px;float:left; }
.send_font5{ color:#666666; font-size:14px;}

/* 会员激活成功css end */